max_epochs_no_best   = 15
max_epochs 	         = 300
learning_rate        = 5e-2
momentum	         = 0.9
weights_normal_sigma = 0.1
weight_noise_sigma   = 0.01
parallel_sequences   = 90
input_noise_sigma    = 0.02
train                = false
train_file 	     = extracted_features/feat_gemapsplus_train_data_nospeech_instname_globalStd.arff.nc
val_file	     = extracted_features/feat_gemapsplus_dev_data_nospeech_instname_globalStd.arff.nc
weights_dist         = normal
weights_normal_mean  = 0
hybrid_online_batch  = true
validate_every       = 1
shuffle_fractions    = true
shuffle_sequences   = false
autosave 	     = false
autosave_best	= false
random_seed 	     = 20
